# Go build artifacts
blog
blog_cli
*.exe
*.exe~
*.dll
*.so
*.dylib

# Dependency directories
vendor/
w
web/node_modules
web/dist
migrations/
*.md
tmp

# Git and editor files
.git
.gitignore
*.swp
*.swo
*.bak
*.tmp
*~

# OS files
.DS_Store
Thumbs.db

# Logs
logs
*.log

# IDE/editor config
.vscode/
.idea/

# config files
.blog.yaml
.air.toml
example.blog.yaml

