services:
  blog-app:
    build:
      context: .
      dockerfile: Dockerfile
    image: blog-app
    container_name: blog-app
    depends_on:
      - redis
    ports:
      - "8080:8080"
    volumes:
      - .blog.yaml:/app/.blog.yaml
      - ./logs/blog.log:/app/blog.log
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    environment:
      - TZ=Asia/Dhaka
    restart: unless-stopped
    healthcheck:
      test: curl -f http://127.0.0.1:8080/api/v1/healthz || exit 1
      interval: 60s
      timeout: 3s
      retries: 3
      start_period: 40s

  redis:
    image: redis:8-alpine
    container_name: redis-alpine
    ports:
      - "6379:6379"
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - redis-data:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf:ro
    restart: unless-stopped
volumes:
  redis-data:
