#API
VITE_BASE_URL=http://localhost:8080

# Author Information
VITE_AUTHOR_NAME=Your Full Name
VITE_AUTHOR_PROFESSION=Your Profession
VITE_AUTHOR_EMAIL=your.email@example.com

# Social Media Links (Optional - leave empty if not needed)
VITE_AUTHOR_GITHUB=https://github.com/yourusername
VITE_AUTHOR_LINKEDIN=https://linkedin.com/in/yourusername
VITE_AUTHOR_TWITTER=https://twitter.com/yourusername
VITE_AUTHOR_FIVERR=https://fiverr.com/yourusername
VITE_AUTHOR_UPWORK=https://upwork.com/freelancers/yourusername
